<%- include('partials/header', { title: title, user: (typeof user !== 'undefined' ? user : null), csrfToken: csrfToken, messages: messages }) %>

<h2><%= title %></h2>

<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <div class="form-errors">
        <h4>Please correct the following errors:</h4>
        <ul>
            <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
            <% }); %>
        </ul>
    </div>
<% } %>

<form action="/auth/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="<%= typeof old !== 'undefined' && old.username ? old.username : '' %>" required autocomplete="username">
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required autocomplete="current-password">
    </div>
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="/auth/register">Register here</a>.</p>

<%- include('partials/footer') %>