<%- include('partials/head', { title }) %>
<%- include('partials/header') %>
<section class="card">
  <h1><%= statusCode %></h1>
  <p><%= message %></p>
  <a href="/">Go home</a>
</section>
<%- include('partials/footer') %>
